<div class="body-content">
    <div class="content-ti">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <span class="caption-subject">The Home Page</span>
            </div>
            <div class="col-sm-12">
                <hr style="margin-top:0px !important;margin-bottom:10px !important;" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p>This page demonstrates <span class="text-danger">nested</span> views.</p>
                <a ui-sref=".list" class="btn btn-primary">List</a>
                <a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
